
Datasets/classify_digits_results1.csv
Twentyone data/may be bad data/blackjack_checkpoint
Twentyone data/may be bad data/blackjack_results.csv
Twentyone data/may be bad data/blackjack_test_df (1).csv
Twentyone data/may be bad data/blackjack_test_df (2).csv
Twentyone data/may be bad data/blackjack_test_df.csv
Twentyone data/may be bad data/blackjack_train_df (1).csv
Twentyone data/may be bad data/blackjack_train_df.csv
Twentyone data/may be bad data/blackjack_weights.data-00000-of-00001
Twentyone data/may be bad data/blackjack_weights.index
Twentyone data/may be bad data/personal_results.csv
Twentyone data/may be good data/auto_player_data.csv
Twentyone data/may be good data/BlackJack player data (1).csv
Twentyone data/may be good data/BlackJack player data.csv
Twentyone data/may be good data/generated_dealer_data.csv
Twentyone data/may be good data/generated_player_data.csv
Twentyone data/may be good data/good_human_dealer_data.csv
Twentyone data/may be good data/good_human_player_data.csv
Twentyone data/may be good data/human_dealer_data.csv
Twentyone data/may be good data/next_card.csv
Twentyone data/may be good data/ok_auto_dealer_data.csv
Twentyone data/may be good data/ok_auto_player_data.csv
Twentyone data/may be good data/ok_human_player_data.csv
Twentyone data/may be good data/ok_live_auto_dealer_data.csv
Twentyone data/may be good data/Twenty-one_player_data.csv
Datasets/doubledigits_train_40000
Datasets/doubledigits_valid_4000
